<h1 class="my-5">Product list</h1>

<button class="btn btn-block btn-info my-4"
  [routerLink]="['/product/0']" type="button">
  Add new product
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products$ | async">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.category}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="">
          <button type="button" class="btn btn-info" [routerLink]="['/product/'+product.id]">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger" (click)="onDelete(product)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
